    В машиином обучении обучаем комп делать выводы на основе данных
    что бы не было переобучения надо давать другие данные на тесте. 
    значит надо разделить датасет на три части:
     - на тренировочные(на которых обучаем)
     - валидационный набор (те которые модель не видела) что бы подбирать гиперпараметры
     - тестовый набор (для оценки того как модель работает)

    Норм прапорция 60/20/20 (train, val, test)

In [2]:
# import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split

titanic_csv = 'train.csv'

titanic = pd.read_csv(titanic_csv)

In [4]:
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [6]:
# перед тем как делать данные на тренировачные и тестовые, нужно определить их признаки или лейблы(метки, target)
# train, val, test sets split

# то на чем будем учиться
feutures =  titanic.drop('Survived', axis=1)


# то что будем предсказывать
labels = titanic['Survived']

# делаю на этом шаге 40 процентов для тествоых данных. на следующем шаге разделю на тренировачные и валидационные по полам
# random_state=42 - это для того чтобы результаты были воспроизводимыми
# X_train, X_test, y_train, y_test  надо запомнить этот порядок
X_train, X_test, y_train, y_test =  train_test_split(feutures, labels, test_size=0.4, random_state=42) 


# разделяю тестовые данные на валидационные и тестовые. тепер уже вместо feutures и labels использую X_test и y_test
X_test, X_val, y_test, y_val =  train_test_split(X_test, y_test, test_size=0.5, random_state=42) 


# check data allocations
print(len(labels), len(y_train), len(y_val), len(y_test))

891 534 179 178

# удержание данных. кросс валидация
    к кратная перекрестная проверка, кросс валидация... разбивает данные на К кратоное множество подможеств(наборов) примерно одинакоового размера
    один для теста, остальные для обучения.
    если разделили на 5, то обучение и проверка будетт происходиить пять раз
    беру среднюю оценку эффективности за все пять прогонов

    ACCURACY подходит для задачи классификации. общее количество праильных предсказанийй деленое на общее количество предсказаний

    PRECISION  кому предсказали выжить, и они реально выжили деленое на общее количество положительных предсказаний

    RECALL  кому предсказали выжить и они реально выжили деленное на общее количество выживших